{% load format_form %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="X-Frame-Options" content="deny">
    <meta name="author" content="Mário <macndesign@gmail.com>">
    <meta name="description" content="Primeira conferência Python que reune os PUGs (Python User Groups) da região Nordeste do Brasil">
    <meta name="keywords" content="palestras,python,nordeste">
    <meta name="viewport" content="width=device-width">
    {% block ogtags %}
    <meta property="og:title" content="Python Nordeste 2013" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ STATIC_URL }}img/pyne2013.png" />
    <meta property="og:url" content="http://pythonnordeste.org/" />
    <meta property="og:site_name" content="Python Nordeste" />
    {% endblock %}
    <title>Python Nordeste 2013</title>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/pyne2013.png" />
    <script type="text/javascript" src="https://s3-sa-east-1.amazonaws.com/modernweb/scripts/ModernWeb.min.js"></script>
    <!--[if IE]><script src="{% static "js/html5.js" %}"></script><![endif]-->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flexie.min.js" %}"></script>
</head>
<body>
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_preferred_3"></a>
    <a class="addthis_button_preferred_4"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514eec795e9cbebc"></script>
<!-- AddThis Button END -->
<div class="ribbon-wrapper">
    <div class="ribbon"><a href="{% static "proposta_patrocinio_pyne2013.pdf" %}">Seja um patrocinador!</a></div>
</div>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header role="banner" class="clearfix">
    <!-- Define uma região que possui, principalmente, conteúdo de orientação do site e não conteúdo específico da página. -->
    <hgroup>
        <h1 class="ir">Python Nordeste 2013</h1>
        <h2><time datetime="2013-05-24T08:00Z">24</time> e <time datetime="2013-05-25T08:00Z">25 de Maio</time><span id="cidade-uf">Fortaleza - CE</span></h2>
    </hgroup>
</header>
<nav role="navigation" id="menu" class="clearfix">
    <!-- Define uma coleção de elementos de navegação (geralmente links) para navegar no documento ou em documentos relacionados. -->
    <a href="/#evento">Evento</a>
    <a href="/#palestrantes">Palestrantes</a>
    <a href="/#programacao">Programação</a>
    <a href="/#inscricoes">Inscrições</a>
    <a href="/#local">Local</a>
    <a href="/#patrocinadores">Patrocinadores</a>
    <a id="lnk-contact" href="#contato">Contato</a>
</nav>
<main class="clearfix">
    <section role="main">
        <!-- Define o conteúdo principal do documento. -->

        <article role="article" id="messages">
        {% if messages %}
        <div class="article-content">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><b>{{ message }}</b></p>
            {% endfor %}
        </div>
        {% endif %}
        </article>

        {% block content %}
        {% endblock %}
    </section>
</main>
<footer role="contentinfo" class="clearfix">
<!-- footer: role=”contentinfo”. Define uma região que contém informações sobre o documento. -->
    <address>Fortaleza - CE</address>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39112831-1']);
  _gaq.push(['_setDomainName', 'pythonnordeste.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/4iNXNRCwadKyVUXWYK0Ig.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
<script>
UserVoice = window.UserVoice || [];
UserVoice.push(['showTab', 'classic_widget', {
  mode: 'full',
  primary_color: '#cc6d00',
  link_color: '#007dbf',
  default_mode: 'support',
  forum_id: 197928,
  tab_label: 'Fale Conosco',
  tab_color: '#cc6d00',
  tab_position: 'bottom-right',
  tab_inverted: false
}]);
$(function(){
    $("#lnk-contact").on("click", function(e){
        UserVoice.push(['showLightbox', 'classic_widget', {
          mode: 'full',
          primary_color: '#cc6d00',
          link_color: '#007dbf',
          default_mode: 'support',
          forum_id: 197928,
          tab_label: 'Fale Conosco',
          tab_color: '#cc6d00',
          tab_position: 'bottom-right',
          tab_inverted: false
        }]);
    });
});
</script>
</body>
</html>
