{% extends "base.html" %}

{% block title %}Mini-Cursos | {% endblock %}
{% block content %}
    <article role="article" id="">
        <h3>Cursos</h3>
    </article>
    <article role="article" id="">
        <div class="article-content">
            <article class="talk">
                <h1>Henrique Bastos</h1>

                <a href="http://www.eventick.com.br/deploy-fabric" target="_blank"><h2>Deploy instantâneo com Fabric</h2></a>
                <iframe src="http://www.eventick.com.br/deploy-fabric/embedded" frameborder="0" height="229px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

                <a href="http://www.eventick.com.br/django-cabra-dos-testes"><h2>Django Cabra dos Testes</h2></a>
                <iframe src="http://www.eventick.com.br/django-cabra-dos-testes/embedded" frameborder="0" height="247px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                
            </article>
        </div> 
    </article>
    <h3></h3>
    <article role="article" id="">
        <div class="article-content">
            <article class="talk">
                <h1>Luciano Ramalho</h1>

                <a href="http://www.eventick.com.br/quem-sabe-python" target="_blank"><h2>Python para quem sabe Python</h2></a>
                <iframe src="http://www.eventick.com.br/quem-sabe-python/embedded" frameborder="0" height="273px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>

                <a href="http://www.eventick.com.br/python-primeira-mordida"><h2>Python A primeira mordida</h2></a>
                <iframe src="http://www.eventick.com.br/python-primeira-mordida/embedded" frameborder="0" height="273px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
                
            </article>
        </div> 
    </article>
    <h3></h3>
    <article role="article" id="">
        <div class="article-content">
            <article class="talk">
                <h1>Álvaro Justen</h1>

                <a href="http://www.eventick.com.br/curso-arduino" target="_blank"><h2>Curso de Arduíno</h2></a>
                <iframe src="http://www.eventick.com.br/curso-arduino/embedded" frameborder="0" height="253px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>                
            </article>
        </div> 
    </article>
{% endblock %}